.loadBtn{
    background-color: #3A85BA;
    padding:10px;
    border:0 none;
    font-weight:bold;
    color:#fff;
    outline:none;
    text-transform:uppercase;
    text-align:center;
}

.loadLink{
    padding: 20px 0 10px;
    border:0 none;
    font-weight:bold;
    outline:none;
    text-transform:uppercase;
    text-align:center;
    display:block;
    clear:both;
}